<div id="implementation">
<li><%= link_to 'graph', :controller =>'', :action=>'' %>	</li>
<li><%= link_to 'Add Region through Javascript', :controller =>'new_implementations', :action=>'add_regions_throught_javascript' %>	</li>
<li><%= link_to 'example of yaml',:controller =>'new_implementations', :action =>'example_of_yaml' %></li>
<li><%= link_to 'example of google',:controller =>'new_implementations', :action =>'show_google_map' %></li>
<li><%= link_to 'example of state list',:controller =>'new_implementations', :action =>'show_list_of_state' %></li>
<li><%= link_to 'example of graph',:controller =>'new_implementations', :action =>'draw_chart' %></li>

</div>