<div id="header">
    
<table style="width:100%" height="93px" cellpadding="0" cellspacing="0">
<tr>
  <td style="width:5%"><div id="logo"><img src="/images/logo1.gif" height="93px" alt="My Project Logo"/></div></td>
  <td style="width:50%" valign="top" class="message">
     
  </td>
  <td >
      
  </td>
</tr>
</table>
</div><!-- header -->

<div id="navigation" style="width:100%">
	<ul>

  		<li><div class="menu" id="menu1" align="center" ><%= link_to 'HOME', :controller => 'members', :action => 'index' %> </div></li>
    
		<li><div class="menu" id="menu2" align="center" ><%= link_to 'ABOUT US', :controller => '', :action => '' %></div></li>
    
		<li><div class="menu" id="menu3" align="center" ><%= link_to 'MEMBER', :controller => '', :action => '' %></div></li>
       	       
    	<li><div class="menu" id="menu4" align="center"><%= link_to 'PRODUCT' , :controller => '', :action => '' %></a></div></li>
    
    	<li><div class="menu" id="menu5" align="center" ><%= link_to 'FAQ', :controller => '', :action => '' %></div></li>
    
    	<li><div class="menu" id="menu6" align="center" ><%= link_to 'CAREERS WITH US', :controller => '', :action => '' %></div></li>
    
		<li><div class="menu" id="menu7" align="center" ><%= link_to 'CONTACT US', :controller => '', :action => '' %></div></li>
       	
	</ul>
</div> <!-- navigation -->