<% @page_title = "Daily Member Registration Report" %>

<br />
<% form_for :criteria, @criteria, :url => {:action => 'member_wise_report'} do |form| %>
<%= render :partial => 'date_selection', :locals => {:form => form} %>
<%= submit_tag 'Submit' %>
<% end %>
<br />
<% if @members && @members.size > 0 %>
<form action="">
<div id="clientlist" class="roundBox">
<table class="dataList sortable">
<thead>
<tr>
	<th style="width:5%">Id</th>
	<th style="width:20%">Name</th>
	<th style="width:10%">Dob</th>
	<th style="width:10%">email</th>
	<th style="width:10%">Contact No</th>
	<th style="width:10%">Address</th>
	<th style="width:10%">state</th>
	<th style="width:10%">country</th>
	<th style="width:5%">Apply On</th>
</tr>
</thead>
<tbody>
<% @members.each do |members| %>

<tr class="<%= cycle('odd', 'even') %>">
	<td><%= members.id %></td>
	<td><%= members.name %></td>
	<td><%= members.dob  %></td>
	<td><%= members.email %></td>
	<td><%= members.phone %></td>
	<td><%= members.address %></td>
	<td><%= members.state %></td>
	<td><%= members.country %></td>
	<td><%= format_month_date(members.created_at) %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<script type="text/javascript">
Rico.Corner.round('clientlist', {compact: true})
</script>
<br />

</form>
<% end %>
